.color-radio {
   position: absolute;
   left: -9999rem;
   width: 0;
   height: 0;
   opacity: 0;
   z-index: -1;

  & + .gray.color-label::before {
    --current-color: var(--gray-1);
    background-color: var(--current-color);
  }

  & + .silver.color-label::before {
    --current-color: var(--silver-1);
    background-color: var(--current-color);
  }

  & + .gold.color-label::before {
    --current-color: var(--gold-1);
    background-color: var(--current-color);
  }

  & + .blue.color-label::before {
    --current-color: var(--blue-1);
    background-color: var(--current-color);
  }

  /*** State cheked ****/

  &:checked + .gray ~ .laptop {
    --laptop-body-color-1: var(--gray-1);
    --laptop-body-color-2: var(--gray-2);
    --laptop-body-color-3: var(--gray-3);
  }

  &:checked + .silver ~ .laptop {
    --laptop-body-color-1: var(--silver-1);
    --laptop-body-color-2: var(--silver-2);
    --laptop-body-color-3: var(--silver-3);
  }

  &:checked + .gold ~ .laptop {
    --laptop-body-color-1: var(--gold-1);
    --laptop-body-color-2: var(--gold-2);
    --laptop-body-color-3: var(--gold-3);
  }

  &:checked + .blue ~ .laptop {
    --laptop-body-color-1: var(--blue-1);
    --laptop-body-color-2: var(--blue-2);
    --laptop-body-color-3: var(--blue-3);
  }

  &:checked + .color-label::before {
    box-shadow: 0 0 0 .2rem #fff,
    0 0 0 .3rem var(--current-color);
  }
}

.color-label {
  position: relative;

  width: 100%;
  height: 100%;

  background: transparent;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2.2rem;
    height: 2.2rem;

    margin: .4rem;

    border-radius: 50%;

    background: inherit;

    cursor: pointer;
    transition: .3s box-shadow;
    z-index: 3;
  }

  &::before:hover {
    box-shadow: 0 0 0 .2rem #fff,
                0 0 0 .3rem #f1f1f1;
  }
}

