/*** Laptop ***/

.laptop {
	position: relative;
	top: -10rem;

	grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;


    background: transparent;

	transition: .3s transform, .3s perspective;
	animation: fadeIn 1.4s;
}

.checkbox-open {
	width: 0;
	height: 0;
	margin: 0;
	opacity: 0;
	z-index: -1;
}

.laptop-open {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 75%;

	cursor: pointer;

	z-index: 2;
}

.checkbox-open:checked + .laptop-open {
	height: 50%;

	z-index: 10;
}

.checkbox-open:checked + .laptop-open + .laptop-top {
	transform: perspective(165rem) rotateX(-180deg);
}




.test {
    width: 2rem;
    height: 2rem;
    background-color: var(--laptop-body-color-1);
}


@keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}