:root {
	--open-btn-color: #fff;
	--pulse-animation-duration: 1.5s;
}

.laptop {
	position: relative;
	top: -5rem;
}

.checkbox-open {
	width: 0;
	height: 0;
	margin: 0;
	opacity: 0;
	z-index: -1;
}

.laptop-open {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 75%;

	cursor: pointer;

	z-index: 2;
}

.checkbox-open:checked + .laptop-open {
	height: 50%;
}

.checkbox-open:checked + .laptop-open + .laptop-top {
	flex-wrap: 600;
	font-size: 3rem;
	color: blue;
	transform: perspective(165rem) rotateX(-180deg);
}