.laptop-top__screen {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	padding: 1.5rem 1.5rem 0 1.5rem;

	border-radius: var(--laptom-border-radius);
	background: var(--black-1);
	background: linear-gradient(90deg, #07080c 0, var(--black-1) 100%);
	box-shadow: 0 0.5rem 0 0 #acadb2 inset,
				0 0.25rem 0 0.25rem #7F8282 inset;

}

.screen-image {
	width: 100%;
	height: 100%;

	background: #aaa;
	background: url(../images/wallpaper.jpg) no-repeat;
	background-size: cover;
}

.brand {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 3rem;

	font-size: .65rem;
	color: #eee;
}